
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-3" style="padding: 23px;">
            @*<h7>¿En que fechas viajas?</h7>
                <hr />
                <form>
                    <div class="form-group">
                        <label>Desde:</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Hasta:</label>
                        <input type="date" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-success btn-block" value="Filtrar" />
                </form>
                <hr />*@
            <h7>Filtrar paquetes por:</h7>
            <hr />
            <label>Región</label>
            <select class="form-control" id="select-región"></select>
            <hr />
            <label>Precio</label>
            <select class="form-control">
                <option selected>Seleccione un rango de precio</option>
            </select>
        </div>
        <div class="col-lg-9">
            <br />
            <div class="row" id="div-paquetes" >
            </div>
        </div>
    </div>
</div>

<!-- Detalle de paquete -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle de mi paquete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/ListPaquetes.js"></script>
}
