
@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2 style="text-align:center">MIS ANUNCIOS</h2>
    <hr />
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="table-secondary" tyle="text-align:center">
                <tr>
                    <th>Nro</th>
                    <th>Título</th>
                    <th>Destino</th>
                    <th>Fecha publicación</th>
                    <th>Fecha vencimiento</th>
                    <th>Estado</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody id="table-body-misAnuncios" style="text-align:center">
            </tbody>
        </table>
    </div>
</div>
